<include file="Common:header"/>
<include file="Common:menu"/>

        <!-- Main Page -->
        <div class="main ">
            <!-- Page Header -->
            <div class="page-header">
                <div class="pull-left">
                    <ol class="breadcrumb visible-sm visible-md visible-lg">
                        <li><a href="index.html"><i class="icon fa fa-home"></i>Home</a></li>
                        <li class="active"><i class="fa fa-laptop"></i>首页</li>
                    </ol>
                </div>
                <div class="pull-right">
                    <h2>首页</h2>
                </div>
            </div>
            <!-- End Page Header -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default bk-bg-white">
                        <div class="panel-heading bk-bg-white">
                            <h6>
                                <i class="fa fa-table red"></i>
                                <span class="break"></span>
                                系统信息
                            </h6>
                            <div class="panel-actions">
                                <a class="btn-minimize" href="#">
                                    <i class="fa fa-caret-up"></i>
                                </a>
                                <a class="btn-close" href="#">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>产品版本</th>
                                        <th>最新版本1.1.1</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>核心框架</td>
                                        <td>3.2.3</td>
                                    </tr>
                                    <tr>
                                        <td>服务器操作系统</td>
                                        <td>Linux</td>
                                    </tr>
                                    <tr>
                                        <td>运行环境</td>
                                        <td>apache2.4.23</td>
                                    </tr>
                                    <tr>
                                        <td>PHP版本</td>
                                        <td>php5.6.25</td>
                                    </tr>
                                    <tr>
                                        <td>MYSQL版本</td>
                                        <td>mysql5.7.14</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-default bk-bg-white">
                        <div class="panel-heading bk-bg-white">
                            <h6>
                                <i class="fa fa-table red"></i>
                                <span class="break"></span>
                                产品团队
                            </h6>
                            <div class="panel-actions">
                                <a class="btn-minimize" href="#">
                                    <i class="fa fa-caret-up"></i>
                                </a>
                                <a class="btn-close" href="#">
                                    <i class="fa fa-times"></i>
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>网站标题</th>
                                        <th>网络博物馆</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>网站域名</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>运营团队</td>
                                        <td>Developer</td>
                                    </tr>
                                    <tr>
                                        <td>公司地址</td>
                                        <td>SEO</td>
                                    </tr>
                                    <tr>
                                        <td>核心团队</td>
                                        <td>Photographer</td>
                                    </tr>
                                    <tr>
                                        <td>联系我们</td>
                                        <td>1756014628@qq.com</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="panel panel-transparent">
                        <div class="panel-body">
                    <div class="col-lg-13">
                        <div class="panel panel-default bk-bg-white">
                            <div class="panel-heading bk-bg-white">
                                <h6>
                                    <i class="fa fa-table red"></i>
                                    <span class="break"></span>
                                    天气预报-吉林
                                </h6>
                                <div class="panel-actions">
                                    <a class="btn-minimize" href="#">
                                        <i class="fa fa-caret-up"></i>
                                    </a>
                                    <a class="btn-close" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>产品版本</th>
                                            <th>最新版本1.1.1</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>核心框架</td>
                                            <td>3.2.3</td>
                                        </tr>
                                        <tr>
                                            <td>服务器操作系统</td>
                                            <td>Linux</td>
                                        </tr>
                                        <tr>
                                            <td>运行环境</td>
                                            <td>apache2.4.23</td>
                                        </tr>
                                        <tr>
                                            <td>PHP版本</td>
                                            <td>php5.6.25</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                 </div>
                        </div>
                    <div class="panel panel-transparent">
                        <div class="panel-heading">
                            <h6><strong>Global Stats</strong></h6>
                            <div class="panel-actions">
                                <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
                                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="vector-map-world" style="height: 320px; width: 100%;" data-vector-map data-plugin-options='{ "map": "world_en" }'></div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="panel">
                        <div class="panel-heading panel-heading-transparent bk-border-off">
                            <h6><strong>Calendar</strong></h6>
                            <div class="panel-actions">
                                <a href="#" class="btn-minimize"><i class="fa fa-caret-up"></i></a>
                                <a href="#" class="btn-close"><i class="fa fa-times"></i></a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div class="calendar calendar-small">
                                <div id="calendar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Page -->
<include file="Common:end"/>