<!-- Footer -->
<!--<div id="footer">
    <ul>
        <li>
            <div class="title">Memory</div>
            <div class="bar">
                <div class="progress light progress-sm  progress-striped active">
                    <div class="progress-bar progress-squared progress-bar-success" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                        60%
                    </div>
                </div>
            </div>
            <div class="desc">4GB of 8GB</div>
        </li>
        <li>
            <div class="title">HDD</div>
            <div class="bar">
                <div class="progress light progress-sm  progress-striped active">
                    <div class="progress-bar progress-squared progress-bar-primary" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;">
                        40%
                    </div>
                </div>
            </div>
            <div class="desc">250GB of 1TB</div>
        </li>
        <li>
            <div class="title">SSD</div>
            <div class="bar">
                <div class="progress light progress-sm  progress-striped active">
                    <div class="progress-bar progress-squared progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;">
                        70%
                    </div>
                </div>
            </div>
            <div class="desc">700GB of 1TB</div>
        </li>
        <li>
            <div class="copyright">
                <p class="text-muted text-right">Fire <i class="fa fa-coffee"></i> Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a> - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a></p>
            </div>
        </li>
    </ul>
</div>-->
<!-- End Footer -->

</div>
</div><!--/container-->


<div class="clearfix"></div>
<!-- start: JavaScript-->

<!-- Vendor JS-->
<script src="__PUBLIC__/assets/vendor/js/jquery.min.js"></script>
<script src="__PUBLIC__/assets/vendor/js/jquery-2.1.1.min.js"></script>
<script src="__PUBLIC__/assets/vendor/js/jquery-migrate-1.2.1.min.js"></script>
<script src="__PUBLIC__/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/assets/vendor/skycons/js/skycons.js"></script>
<!--index 新增-->
<script src="__PUBLIC__/assets/vendor/js/pace.min.js"></script>

<!-- Plugins JS-->
<script src="__PUBLIC__/assets/plugins/moment/js/moment.min.js"></script>
<script src="__PUBLIC__/assets/plugins/bootkit/js/bootkit.js"></script>
<script src="__PUBLIC__/assets/plugins/select2/select2.js"></script>
<script src="__PUBLIC__/assets/plugins/jquery-datatables/media/js/jquery.dataTables.js"></script>
<script src="__PUBLIC__/assets/plugins/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
<script src="__PUBLIC__/assets/plugins/jquery-datatables-bs3/js/datatables.js"></script>
<script src="__PUBLIC__/assets/plugins/summernote/dist/summernote.js"></script>
<script src="__PUBLIC__/assets/plugins/summernote/dist/lang/summernote-zh-CN.js"></script>
<script src="__PUBLIC__/assets/plugins/bootstrap-markdown/js/bootstrap-markdown.js"></script>
<script src="__PUBLIC__/assets/plugins/bootstrap-markdown/js/markdown.js"></script>
<script src="__PUBLIC__/assets/plugins/bootstrap-markdown/js/to-markdown.js"></script>
<script src="__PUBLIC__/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
<script src="__PUBLIC__/assets/plugins/touchpunch/js/jquery.ui.touch-punch.min.js"></script>
<script src="__PUBLIC__/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="__PUBLIC__/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.js"></script>
<script src="__PUBLIC__/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
<script src="__PUBLIC__/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>
<script src="__PUBLIC__/assets/plugins/maskedinput/js/jquery.maskedinput.js"></script>
<!--index 新增-->
<script src="__PUBLIC__/assets/plugins/jquery-ui/js/jquery-ui-1.10.4.min.js"></script>
<script src="__PUBLIC__/assets/plugins/scrollbar/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="__PUBLIC__/assets/plugins/magnific-popup/js/magnific-popup.js"></script>
<script src="__PUBLIC__/assets/plugins/moment/js/moment.min.js"></script>
<script src="__PUBLIC__/assets/plugins/fullcalendar/js/fullcalendar.js"></script>
<script src="__PUBLIC__/assets/plugins/flot/js/jquery.flot.min.js"></script>
<script src="__PUBLIC__/assets/plugins/flot/js/jquery.flot.pie.min.js"></script>
<script src="__PUBLIC__/assets/plugins/flot/js/jquery.flot.resize.min.js"></script>
<script src="__PUBLIC__/assets/plugins/flot/js/jquery.flot.stack.min.js"></script>
<script src="__PUBLIC__/assets/plugins/flot/js/jquery.flot.time.min.js"></script>
<script src="__PUBLIC__/assets/plugins/flot-tooltip/js/jquery.flot.tooltip.js"></script>
<script src="__PUBLIC__/assets/plugins/chart-master/js/Chart.js"></script>
<script src="__PUBLIC__/assets/plugins/jqvmap/jquery.vmap.js"></script>
<script src="__PUBLIC__/assets/plugins/jqvmap/data/jquery.vmap.sampledata.js"></script>
<script src="__PUBLIC__/assets/plugins/jqvmap/maps/jquery.vmap.world.js"></script>
<script src="__PUBLIC__/assets/plugins/sparkline/js/jquery.sparkline.min.js"></script>
<script src="__PUBLIC__/assets/plugins/autosize/jquery.autosize.min.js"></script>
<script src="__PUBLIC__/assets/plugins/jquery-validation/js/jquery.validate.js"></script>
<script src="__PUBLIC__/assets/plugins/wizard/js/jquery.bootstrap.wizard.min.js"></script>
<script src="__PUBLIC__/assets/plugins/pnotify/js/pnotify.custom.js"></script>
<!-- Theme JS -->
<script src="__PUBLIC__/assets/js/jquery.mmenu.min.js"></script>
<script src="__PUBLIC__/assets/js/core.min.js"></script>

<!-- login JS -->
<script src="__PUBLIC__/assets/js/pages/page-login.js"></script>
<!--首页index JS-->
<script src="__PUBLIC__/assets/js/pages/index.js"></script>
<!--系统设置 JS-->
<script src="__PUBLIC__/assets/js/pages/profile.js"></script>
<!-- 用户列表 JS -->
<script src="__PUBLIC__/assets/js/pages/table-advanced.js"></script>
<!--编辑器 JS-->
<script src="__PUBLIC__/assets/js/pages/form-editors.js"></script>
<!--注册-->
<script src="__PUBLIC__/assets/js/pages/form-wizard.js"></script>
<!-- end: JavaScript-->
<script src="__PUBLIC__/assets/js/pages/ui-portlets.js"></script>
<script src="__PUBLIC__/assets/js/pages/ui-modals.js"></script>
<script src="__PUBLIC__/assets/js/pages/ui-lightbox.js"></script>
<script src="__PUBLIC__/assets/js/pages/ui-panels.js"></script>
<script src="__PUBLIC__/assets/js/pages/form-elements.js"></script>

</body>

</html>