<!DOCTYPE html>
<html lang="en">

<head>

    <!-- Basic -->
    <meta charset="UTF-8" />

    <title>Login | Fire - Admin Template</title>

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Import google fonts -->
    <link href='#' rel='stylesheet' type='text/css'>

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="__PUBLIC__/assets/ico/favicon.ico" type="image/x-icon" />
    <link rel="apple-touch-icon" href="__PUBLIC__/assets/ico/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="__PUBLIC__/assets/ico/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="__PUBLIC__/assets/ico/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="__PUBLIC__/assets/ico/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="__PUBLIC__/assets/ico/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="__PUBLIC__/assets/ico/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="__PUBLIC__/assets/ico/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="__PUBLIC__/assets/ico/apple-touch-icon-152x152.png" />

    <!-- start: CSS file-->

    <!-- Vendor CSS-->
    <link href="__PUBLIC__/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/vendor/skycons/css/skycons.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- index新增-->
    <link href="__PUBLIC__/assets/vendor/css/pace.preloader.css" rel="stylesheet" />

    <!-- Plugins CSS-->
    <link href="__PUBLIC__/assets/plugins/bootkit/css/bootkit.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/plugins/select2/select2.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/plugins/jquery-datatables-bs3/css/datatables.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/plugins/fullcalendar/css/fullcalendar.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/plugins/summernote/dist/summernote.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/plugins/bootstrap-markdown/css/bootstrap-markdown.min.css" rel="stylesheet" />
    <!-- index新增-->
    <link href="__PUBLIC__/assets/plugins/jquery-ui/css/jquery-ui-1.10.4.min.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/plugins/scrollbar/css/mCustomScrollbar.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/plugins/magnific-popup/css/magnific-popup.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/plugins/fullcalendar/css/fullcalendar.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/plugins/jqvmap/jqvmap.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/plugins/pnotify/css/pnotify.custom.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/plugins/bootstrap-datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/plugins/bootstrap-datepicker/css/datepicker-theme.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css" rel="stylesheet" />
    <!-- Theme CSS -->
    <link href="__PUBLIC__/assets/css/jquery.mmenu.css" rel="stylesheet" />

    <!-- Page CSS -->
    <link href="__PUBLIC__/assets/css/style.css" rel="stylesheet" />
    <link href="__PUBLIC__/assets/css/add-ons.min.css" rel="stylesheet" />
    <!-- Head Libs -->
    <script src="__PUBLIC__/assets/plugins/modernizr/js/modernizr.js"></script>
    <script src="__PUBLIC__/assets/js/jquery.min.js"></script>

    <style>
        footer {
            display: none;
        }
    </style>

    <!-- end: CSS file-->


    <!-- Head Libs -->
    <script src="__PUBLIC__/assets/plugins/modernizr/js/modernizr.js"></script>

</head>