<include file="Common:header"/>
<!--banner-->
<div class="banner">
    <div class="container">
        <div class="banner-top">
            <!--<h1>THE LATEST NEWS ON DESIGN & ARCHITECTURE</h1>-->
            <h1>欢迎走进万维虚拟博物馆</h1>
            <ul>
                <li><a class="sub" href="{:U('Display/index',array('nid'=>12))}">艺术欣赏</a></li>
                <li><a class="art" href="{:U('Appreciate/index')}">艺术鉴赏</a></li>
            </ul>
        </div>
    </div>
</div>
<!--banner-->
<!--slide-->
<div class="gallery-cursual">
    <!-- requried-jsfiles-for owl -->
    <link href="__PUBLIC__/css/owl.carousel.css" rel="stylesheet">
    <script>
        $(document).ready(function() {
            $("#owl-demo").owlCarousel({
                items : 5,
                lazyLoad : true,
                autoPlay : true,
                pagination : false,
            });
        });
    </script>
    <!-- //requried-jsfiles-for owl -->
    <!-- start content_slider -->
    <div id="owl-demo" class="owl-carousel text-center">
        <foreach name="center" item="v">
        <div class="item g1 popup-with-zoom-anim" href="#small-dialog">
            <img class="lazyOwl" data-src="__UPLOAD__/{$v.icon}" alt="name">
            <div class="caption">
                <h3>{$v.title}</h3>
                <div class="s-btn">
                    <a href="#">READ MORE</a>
                </div>
            </div>
        </div>
        </foreach>
    </div>
    <!--//sreen-gallery-cursual---->
    <!-- caption-popup -->
    <foreach name="center" item="k">
    <div class="caption-popup">
        <div id="small-dialog" class="mfp-hide innercontent">
            <h4>{$k.title}</h4>
            <img class="img-responsive cap" src="__UPLOAD__/{$k.icon}" title="postname" />
            <p>{$k.introduce}</p>
            <a class="morebtn" href="#">ReadMore</a>
        </div>
    </div>
    </foreach>
    <!----//fea-video---->
    <script>
        $(document).ready(function() {
            $('.popup-with-zoom-anim').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

        });
    </script>
</div>
<!-- /caption-popup -->
<!---pop-up-box---->
<link href="__PUBLIC__/css/popuo-box.css" rel="stylesheet" type="text/css" media="all"/>
<script src="__PUBLIC__/js/jquery.magnific-popup.js" type="text/javascript"></script>
<script src="__PUBLIC__/js/owl.carousel.js"></script>
<!---//pop-up-box---->
<!--slide-->
<!--address-->
<div class="address">
    <div class="container">
        <div class="address-top">
            <p>热门艺术品展览</p>
        </div>
    </div>
</div>
<!--address-->
<!--<div class="buildings">-->
   <div class="container">
        <div class="buildings-top">
            <div class="building-one">
                <foreach name="art" item="v">
                    <div class="col-md-3 building-left">
                        <a  onclick="show({$v.id})"><img src="__UPLOAD__/{$v.icon}" alt="" /></a>
                        <a onclick="show({$v.id})"><h4>{$v.title}</h4></a>
                        <!--<p>Integer hendrerit tortor nec enim finibus consequat. Aliquam eu quam quam. Aliquam posuere neque</p>-->
                        <div class="build-btn">
                            <a onclick="show({$v.id})" class="hvr-shutter-out-horizontal">Read more</a>
                        </div>
                    </div>
                    <!--<div class="clearfix"></div>-->
                </foreach>
            </div>
            <!--     <div class="building-one">
                     <div class="col-md-3 building-left">
                         <a href="single.html"><img src="__PUBLIC__/images/b-4.jpg" alt="" /></a>
                         <a href="single.html"><h4>Aliquam ac mattis</h4></a>
                         <p>Integer hendrerit tortor nec enim finibus consequat. Aliquam eu quam quam. Aliquam posuere neque</p>
                         <div class="build-btn">
                             <a href="single.html" class="hvr-shutter-out-horizontal">Read more</a>
                         </div>
                     </div>
                     <div class="col-md-3 building-left">
                         <a href="single.html"><img src="__PUBLIC__/images/b-5.jpg" alt="" /></a>
                         <a href="single.html"><h4>Aliquam ac mattis</h4></a>
                         <p>Integer hendrerit tortor nec enim finibus consequat. Aliquam eu quam quam. Aliquam posuere neque</p>
                         <div class="build-btn">
                             <a href="single.html" class="hvr-shutter-out-horizontal">Read more</a>
                         </div>
                     </div>
                     <div class="col-md-3 building-left">
                         <a href="single.html"><img src="__PUBLIC__/images/b-6.jpg" alt="" /></a>
                         <a href="single.html"><h4>Aliquam ac mattis</h4></a>
                         <p>Integer hendrerit tortor nec enim finibus consequat. Aliquam eu quam quam. Aliquam posuere neque</p>
                         <div class="build-btn">
                             <a href="single.html" class="hvr-shutter-out-horizontal">Read more</a>
                         </div>
                     </div>
                     <div class="col-md-3 building-left">
                         <a href="single.html"><img src="__PUBLIC__/images/b-7.jpg" alt="" /></a>
                         <a href="single.html"><h4>Aliquam ac mattis</h4></a>
                         <p>Integer hendrerit tortor nec enim finibus consequat. Aliquam eu quam quam. Aliquam posuere neque</p>
                         <div class="build-btn">
                             <a href="single.html" class="hvr-shutter-out-horizontal">Read more</a>
                         </div>
                     </div>
                     <div class="clearfix"></div>
                 </div>-->
        </div>
    </div>
<!--</div>-->
<!--buildings-->
<script type="text/javascript">
    function show(id){
        layer.open({
            type: 2,
            area: ['800px', '630px'],
            fixed: false, //不固定
            maxmin: true,
            title: '艺术品详情',
            content: '{:U("Display/show")}?id='+id
        });
    }
</script>
<link rel="stylesheet" href="__PUBLIC__/css/swipebox.css">
<script src="__PUBLIC__/js/jquery.swipebox.min.js"></script>
<script type="text/javascript">
    jQuery(function($) {
        $(".swipebox").swipebox();
    });
</script>
<!-- Portfolio Ends Here -->
<script type="text/javascript" src="__PUBLIC__/js/jquery.mixitup.min.js"></script>
<script type="text/javascript">
    $(function () {

        var filterList = {

            init: function () {

                // MixItUp plugin
                // http://mixitup.io
                $('#portfoliolist').mixitup({
                    targetSelector: '.portfolio',
                    filterSelector: '.filter',
                    effects: ['fade'],
                    easing: 'snap',
                    // call the hover effect
                    onMixEnd: filterList.hoverEffect()
                });

            },

            hoverEffect: function () {

                // Simple parallax effect
                $('#portfoliolist .portfolio').hover(
                        function () {
                            $(this).find('.label').stop().animate({bottom: 0}, 200, 'easeOutQuad');
                            $(this).find('img').stop().animate({top: -30}, 500, 'easeOutQuad');
                        },
                        function () {
                            $(this).find('.label').stop().animate({bottom: -40}, 200, 'easeInQuad');
                            $(this).find('img').stop().animate({top: 0}, 300, 'easeOutQuad');
                        }
                );

            }

        };

// Run the show!
        filterList.init();

    });
</script>
<!--advertisement-->
<div class="add">
    <div class="container">
        <div class="add-top">
            <div class="col-md-10 add-left">
                <p>Leave your Ads Here</p>
            </div>
            <div class="col-md-2 add-right">
                <img src="__PUBLIC__/images/add.png" alt="" />
                <h3>Advertisement</h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!--advertisement-->
<include file="Common:footer"/>
</body>
</html>
